/********************* GENERELT *********************/

body {
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    font-family: 'DM Serif Text', serif;
}

h1,
h2 {
    font-size: 3rem;
    color: #50555a;
}

h2 {
    text-align: center;
}

h3 {
    color: #50555a;
}

p, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}


a, a:link {
    text-decoration: none;
    color: #E9693A;
}

a:hover {
    color: #50555a;
}






/********************* HEADER *********************/


.splash_mig {}

.pil {
    top: 92vh;
    left: 46vw;
    z-index: 10000000;
    animation-name: hop_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}

@keyframes hop_kf {
    from {
        transform: translateY(0vh);
    }

    to {
        transform: translateY(1.5vh);
    }
}


.nav-link {
    font-family: 'DM Serif Text', serif;
    font-size: 1.3rem;
}

.navbar {
    background-color: #F7F3F0;
    height: 8vh;
}

.navbar-light .navbar-nav .nav-link {
    color: #50555a;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #E9693A;
}


.navbar-toggler {
    border-style: hidden;
    border-radius: 50px;
    padding: 20px;
}



/********************* OM *********************/




/********************* KOMPETENCER *********************/
#kompetencer {
    background-color: #fffcfb;
}

.personlig,
.faglig {
    border: 2px solid grey;
    padding: 10px 20px 20px;
}


/********************* PROJEKTER *********************/
#projekter {
    background-color: #e6e1de;
}

.hover {
  opacity: 0.6;
  transition: 0.3s;
}

.hover:hover {
    opacity: 1;
}



/********************* ERFARING *********************/
#erfaring {
    background-color: #fffcfb;
}

.erhvervserfaring, .livserfaring, .kontakt{
    border: 2px solid grey;
    padding: 10px 20px 20px;
}




/********************* INTERESSER *********************/
#interesser img {
    width: 170px;
    height: auto;
}

#interesser p {
    font-family: 'Neucha', cursive;
    font-size: 1.7rem;
}

.end {
    text-align: end;
}


.container {
    position: relative;

}

.showHover {
    display: block;
}

.hide {
    position: absolute;
    top: 10vh;
    opacity: 0;
    transition: .5s ease;
}

.container:hover .hide {
    opacity: 1;
}

/*
.hide {
    display: none;
}

.showHover:hover + .hide{
    display: block;
    color: black;
}
*/



/********************* KONTAKT *********************/
#kontakt {
    background-color: #fffcfb;
}

.kontakt {
    font-size: 1.5rem;
}

















/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576) {}

/* END "sm-" 576px and up */


/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {}

/* END "md-" 768px and up */


/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {}

/* END "lg-" 992px and up */
}

/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {

    /* END "xl-" 1200px and up */
}

/**************************************************/
/* // Extra Extra large (XXL) devices (XXL screens, 1400px and up) */
/**************************************************/
@media (min-width: 1400px) {

    /* END "xxl-" 1400px and up */
}
